# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#DB Files
*.db

#python-compiler
*.pyc

#json files
*.json

#media files
*.mp4
*.mkv
*.avi
*.mov
*.mp4
*.mov
*.avi
/backend/__pycache__
backend/__pycache__/patient_manager.cpython-310.pyc
SSL_ParkinsonsDisease_Fork.code-workspace
backend/__pycache__/patient_manager.cpython-310.pyc
backend/__pycache__/patient_manager.cpython-310.pyc

# data files
backend/patients.json
backend/patients.json.backup